compiled
decompiled
compilelog.txt
decompilelog.txt
EA
__pycache__
*/__pycache__
.idea/workspace.xml
.idea/tasks.xml
*.pyo
*.pyc
**/*.pyo
**/*.pyc
*/*.pyc
*/*.pyo
Utilities/*.pyc
.idea/dictionaries
tunings
**/*.7z
**/*.zip
**/Release/*.7z
**/Release/*.zip
**/*.ts4script
**/*.lnk
docs/build